#row-2 {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
	padding: 0 1em;
	& img {
		height: 20px;
	}
	> div {
		display: flex;
		align-items: center;
		gap: 1em;
		padding: 0.2em;
		> p {
			position: relative;
			left: -0.8em;
			color: #767676;
			font-size: 0.8rem;
			& > a {
				color: inherit;
			}
			& > a:hover {
				color: black;
			}
		}
	}
}
#row-3 {
	position: relative;
	width: 100%;
	padding: 0 1em;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
}
