#photo {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width: 990px) {
		width: 100%;
	}
	> img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	> button {
		height: 2em;
		background-color: transparent;
		> img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}
