.photoLayoutGridContainer {
	display: grid;
	grid-template-columns: repeat(1, 100vw);
	grid-auto-rows: 5vw;
	gap: 20px 20px;
}
@media (min-width: 776px) {
	.photoLayoutGridContainer {
		display: grid;
		grid-template-columns: repeat(2, 50vw);
		grid-auto-rows: 5vw;
		gap: 20px 20px;
	}
}
@media (min-width: 990px) {
	.photoLayoutGridContainer {
		display: grid;
		grid-template-columns: repeat(3, 33vw);
		grid-auto-rows: 5vw;
		gap: 20px 20px;
	}
}
.photoLayoutGridContainer > div {
	/* border: 3px solid red; */
}
.photoLayoutFlexContainer {
	display: flex;
}
/*----------------------------------------------------------*/
body {
	background: #3b3b3b;
}
@supports not (display: grid) {
	body:before {
		content: "Your browser does not support the CSS grid spec - so that won't be super interesting! Also, I have only played with it in Firefox Nightly.. Results may vary in other browsers! :)";
		color: #fff;
		background: #ff6347;
		padding: 2rem;
		text-align: center;
		display: block;
	}
}
.grid {
	display: grid;
	padding: 0;
	margin: 0;
	gap: 10px 10px;
	grid-template-columns: repeat(2, 50vw);
	/* grid-auto-rows: 50vw; */
	/* grid-auto-flow: dense; */
	border: 5px dotted turquoise;
}
@media (min-width: 26rem) {
	.grid {
		grid-template-columns: repeat(3, 33.333333333333336vw);
		/* grid-auto-rows: 33.333333333333336vw; */
		grid-auto-rows: 20vw;
		border: 5px dotted greenyellow;
	}
}
@media (min-width: 50rem) {
	.grid {
		grid-template-columns: repeat(4, 25vw);
		grid-auto-rows: 25vw;
		border: 5px dotted purple;
	}
}
@media (min-width: 60rem) {
	.grid {
		grid-template-columns: repeat(5, 20vw);
		grid-auto-rows: 20vw;
		border: 5px dotted goldenrod;
	}
}
@media (min-width: 80rem) {
	.grid {
		grid-template-columns: repeat(6, 16.666666666666668vw);
		grid-auto-rows: 16.666666666666668vw;
		border: 5px dotted royalblue;
	}
}
.grid__item {
	list-style: none;
	height: 100%;
}
.grid__item--big {
	grid-column: auto/span 2;
	grid-row: auto/span 2;
}
.grid__item--tall {
	grid-row: auto/span 2;
}
.grid__item--wide {
	grid-column: auto/span 2;
}

.grid__image {
	-o-object-fit: cover;
	object-fit: cover;
	/* display: block; */
	width: 100%;
	height: 100%;
	transition: 0.1s;
}
.grid__image:hover {
	filter: sepia(100%);
}
