#SearchNav {
	position: relative;
	display: flex;
	gap: 2em;
	padding: 50px 1em 0;
	border-bottom: 1px solid #d3d3d3;
	font-size: 18px;
	> a {
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		color: #767676;
		height: 3em;
		gap: 0.3em;
		> div {
			display: none;
			height: 40%;
			width: auto;
			> img {
				height: 100%;
				width: auto;
			}
		}
		> span:nth-of-type(2) {
			display: none;
		}
	}
	@media (min-width: 776px) {
		> a {
			> div {
				display: block;
				height: 40%;
				width: auto;
				> img {
					height: 100%;
					width: auto;
				}
			}
			> span:nth-of-type(2) {
				display: block;
			}
		}
	}
}

.current {
	border-bottom: 0.15em solid white;
	filter: brightness(24%);
}
.transparentBorderbottom {
	border-bottom: 0.15em solid transparent;
}
