#modalContent {
	position: relative;
	/* keeping width: 80% makes it "unaligned with the width of #header */
	/* keep the width of #modalContent & #header same */
	/* width: 80%; */
	width: 80vw;
	background-color: white;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (max-width: 990px) {
		/* background-color: darkorange; */
		width: 100vw;
	}
}
