#profileUserInfo {
	position: relative;
	width: 100%;
	font-size: 32px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 1.5em;
	padding: 2em 1em;
	/* background-color: turquoise; */
	@media (min-width: 776px) {
		flex-direction: row;
	}
}

#profileUserInfo_left {
	position: relative;
	width: 100%;
	height: 100%;
	/* background-color: yellowgreen; */
	display: flex;
	justify-content: space-between;
	> img {
		position: relative;
		height: 7em;
		border-radius: 50%;
	}
	@media (min-width: 776px) {
		justify-content: flex-end;
		width: 33.33%;
	}
}

#profileUserInfo_right {
	position: relative;
	width: 66.66%;
	height: 100%;
	font-size: 1rem;
	/* background-color: aqua; */
	& img {
		height: 0.9em;
		width: 0.9em;
		margin-right: 0.3em;
	}
	> p {
		padding: 0.9em 0;
	}
	> div:nth-of-type(1) {
		/* background-color: springgreen; */
		display: flex;
		align-items: center;
		width: fit-content;
		gap: 1em;
		padding-bottom: 0.6em;
		> h2 {
			font-size: 2.4rem;
			white-space: nowrap;
			/* padding-bottom: 0.6em; */
		}
	}
	> div:nth-of-type(2) {
		display: flex;
		align-items: center;
		width: fit-content;
		padding-bottom: 0.6em;

		> p {
			font-size: 0.9rem;
			/* background-color: wheat; */
		}
	}
}

#connect {
	position: relative;
	width: 9em;
	> button {
		background-color: transparent;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.3em;
		padding-top: 0.3em;
		width: 100%;
		width: fit-content;
		/* background-color: aquamarine; */
		> p {
			/* background-color: rebeccapurple; */
			white-space: nowrap;
		}
	}
	> div {
		position: absolute;
		top: 1.5em;
		right: 0;
		width: fit-content;
		display: flex;
		gap: 0;
		z-index: 1;
		background-color: white;
		flex-direction: column;
		padding-bottom: 0; /** negate the values given on #profileUserInfo_right > * */
		padding-left: 0;
		padding: 0.6em;
		border: 1px solid #d3d3d3;
		border-radius: 3px;
		box-shadow: 0 0 3px #d3d3d3;
		> a {
			position: relative;
			width: 100%;
			/* background-color: aqua; */
			display: flex;
			align-items: center;
			justify-content: flex-start;
			text-decoration: none;
			color: #767676;
			padding-bottom: 0.3em;
			> div {
				/* background-color: tomato; */
				display: flex;
				justify-content: center;
				align-items: center;
			}
			> p {
				/* background-color: yellow; */
				font-size: 18px;
			}
			&:hover {
				filter: brightness(50%);
			}
		}
	}
}

.sticky_buttons {
	& button {
		background-color: white;
		padding: 0.5em 1em;
		border: 1px solid #d3d3d3;
		box-shadow: 0 0 1px #d3d3d3;
		&:hover {
			border: 0.5px solid black;
		}
	}
	& img {
		height: 2em;
		width: 2em;
	}
	> div {
		display: flex;
		gap: 0.5em;
	}
}

.sticky_buttons__right {
	display: none;
	/* background-color: cyan; */
	@media (min-width: 776px) {
		display: block;
		position: relative;
		left: 0;
	}
}

.sticky_buttons__left {
	display: flex;
	align-items: flex-start;
	/* background-color: cyan; */
	gap: 1em;
	@media (min-width: 776px) {
		display: none;
	}
}
