#modalContainer {
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 1;
	display: flex;
	background-color: rgba(0, 0, 0, 0.289);
	overflow-y: scroll;
	overflow-x: hidden;
}
.blackSpace {
	/* position: fixed; */
	width: 100px;
	z-index: 1;
	left: 100px;
	/* flex: 1; */
}
