#modalContainer {
	position: fixed;
	height: 100vh;
	width: 100%;
	z-index: 1;
	display: flex;
	justify-content: center;
	overflow-y: scroll;
	/* overscroll-behavior: contain; */
}
#blackCurtain {
	background-color: rgba(0, 0, 0, 0.517);
	height: 100vh;
	width: 100vw;
	z-index: 1;
	position: fixed;
	display: flex;
	justify-content: space-between;
}
.blackSpace {
	position: fixed;
	z-index: 10;
	height: 100vh;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* flex: 1; */
	& button {
		/* cursor: pointer; */
		height: 35px;
	}
	& button:hover img {
		filter: brightness(120%);
		scale: 1.1;
	}
	& img {
		height: 100%;
	}
}
.blackSpace__left {
	left: 0;
}
.blackSpace__right {
	right: 0;
}
#close {
	position: absolute;
	top: 1em;
	height: 40px;
}
