#container {
	position: fixed;
	width: 100%;
	height: fit-content;
	top: 0;
	background-color: palevioletred;
	z-index: 1;
}
.navbar__container {
	position: relative;
	width: 100%;
	height: 50px;

	background-color: white;
	background-color: palevioletred;
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 1rem;
	align-items: center;
}
#logo__container {
	/* background-color: violet; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#login__container {
	/* background-color: orange; */
	width: 100%;
	height: 100%;
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#profile__button-container {
	position: relative;
	/* background-color: aqua; */
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 90%;
}
#profile__button {
	position: relative;
	height: 90%;
	width: auto;
}

#profile__button > img {
	height: 100%;
	width: auto;
	background-color: transparent;
}

#dropDownMenu {
	position: absolute;
	width: 200px;
	top: 50px;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	box-shadow: 0px 0px 5px rgba(56, 56, 56, 0.435);
	transition: opacity 0.1s ease-in-out, transform 0.2s ease-out;
	transform-origin: right top;
}
ul {
	width: 100%;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}
ul:nth-of-type(1) {
	border-bottom: 1.5px solid #d3d3d3;
}
li {
	width: 100%;
}
li:hover {
	background-color: #eeeeeec1;
}
li > button {
	width: 100%;
	display: block;
	color: #767676;
	font-size: 10px;
	text-align: left;
	padding: 1.2em;
	padding-right: 3.2em;
}
