.photoContainer {
	position: relative;
	height: 100%;
	overflow: hidden;
}
.photoContainer__normal {
	/* grid-column: auto/span 1; */
	grid-row: auto/span 5;
	/* border: 5px solid orange; */
}
.photoContainer__tall {
	grid-row: auto/span 8;
	/* border: 5px solid springgreen; */
}
.photoContainer__medium {
	grid-row: auto/span 7;
	/* border: 5px solid rgb(6, 0, 128); */
}
.photoContainer__short {
	grid-row: auto/span 4;
	/* border: 5px solid red; */
}
.photoContainer > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.photoContainer:hover img {
	/* filter: grayscale(20%); */
	filter: brightness(85%);
}
.photoContainer:hover .onHoverDisplay {
	/* visibility: visible; */
	opacity: 1;
	/* transition: visibility 2.5s ease-in-out; */
}
.onHoverDisplay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	/* align-items: center; */
	/* visibility: hidden; */
	opacity: 0;
	/* transition: opacity 0.2s ease-out; */
	/* background-color: aquamarine; */
}
.onHoverDisplay-top {
	/* background-color: blue; */
	display: flex;
	justify-content: flex-end;
	/* convert it into rem where 1rem=16px */
	padding: calc(16 * 0.8 * 1px);
}
.onHoverDisplay-top button {
	/* margin: 5px; */
	margin-left: calc(16 * 0.5 * 1px);
}
.onHoverDisplay-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: aqua; */
	padding-right: calc(16 * 0.8 * 1px);
}
.userInfo {
	display: flex;
	align-items: center;
	/* background-color: chartreuse; */
	padding: calc(16 * 0.8 * 1px);
	& a {
		color: #c7c5c5;
		padding-right: 5px;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	> a:nth-of-type(1) {
		> img {
			/* border: 2px solid tomato; */
			height: 2em;
			width: auto;
			border-radius: 50%;
		}
	}
	> a:nth-of-type(2) {
		font-size: 0.9em;
		padding-left: 0.3em;
	}
	> a:nth-of-type(2):hover {
		color: white;
	}
}
