.photoContainer {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;

	/* background-size: auto; */
}
.photoContainer__normal {
	/* grid-column: auto/span 1; */
	grid-row: auto/span 5;
	border: 5px solid orange;
}
.photoContainer__tall {
	grid-row: auto/span 8;
	border: 5px solid springgreen;
}
.photoContainer__medium {
	grid-row: auto/span 7;
	border: 5px solid rgb(6, 0, 128);
}
.photoContainer__short {
	grid-row: auto/span 4;
	border: 5px solid red;
}
.photoContainer > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.photoContainer:hover img {
	/* filter: grayscale(20%); */
	filter: brightness(85%);
}
.photoContainer:hover .onHoverDisplay {
	/* visibility: visible; */
	opacity: 1;
	/* transition: visibility 2.5s ease-in-out; */
}
.onHoverDisplay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* align-items: center; */
	/* visibility: hidden; */
	opacity: 0;
	transition: opacity 0.2s ease-out;
	/* background-color: aquamarine; */
}
.onHoverDisplay-top {
	display: flex;
	justify-content: flex-end;
	padding: calc(16 * 0.9 * 1px); /* convert it into rem where 1rem=16px */
}
.onHoverDisplay-top button {
	margin: 5px;
}
.onHoverDisplay-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: calc(16 * 0.9 * 1px);
}
.userInfo {
	display: flex;
	/* background-color: chartreuse; */
	padding: calc(16 * 0.9 * 1px);
}
.userInfo a {
	color: #c7c5c5;
	padding-right: 5px;
}
.userInfo a:nth-of-type(2):hover {
	color: #e1dede;
}
.userInfo a > img {
	/* border: 2px solid tomato; */
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
